body{
    background-color: black;
    overflow-x: hidden;
    font-family: "Stack Sans Headline", sans-serif;
    color: white;
}

.images{
    display: flex;
    flex-direction: column;
}

img{
    width: 50vw;
    height: auto;
}

.title{
    display: flex;
    font-size: 5vw;
}

