body{
  background-color: aliceblue;
  color: rgb(139, 171, 200);
  font-family: serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
 }

 .container{
  display: grid;
  margin-left: 2vw;
  margin-top: 1vw;

 }

 .grid-item{
  font-size: 5.5vw;
  margin: 10px;
 }

 .grid-item:hover{
  color: blue;
 }

 a{
  text-decoration: none;
  color: rgb(139, 171, 200);
 }

 a:hover{
  color: blue;
 }

 .info-container{
  margin-top: auto;
  font-size: 5vw;
  margin-left: 2vw;
  margin-bottom: 1vw;
}

img{
  width: 50%;
  height: auto;
}

#Wares img{
  width: 35%;
  height: auto;
}

.text{
  position: fixed;
  top: 5vw;
  align-self: center;
  justify-self: center;
  z-index: 20000000;
  font-size: 2vw;
  text-align: center;
}

.slideshow{
  display: flex;
  justify-content: center;
  align-items: center;
}

#display{
  cursor: pointer;
}

.work{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}

.work img{
  width: 70%;
  height: auto;
}









