body{
  overflow-x: hidden;
  font-family: "Stack Sans Headline", sans-serif;
  background-color: aliceblue;
  margin: 1vw;
  padding: 1vw;
}

@font-face {
  font-family: 'Wares'; 
  src: url('fonts/hardware-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

.container{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: start;
  gap: 1vw;
}

img{
  width: 100%;
  max-width: 900px;
  margin: 1vw;
  height: auto;
  display: block;
  max-width: min(90vw, 900px);
}

.header{
  grid-column: 2;
}

#decor{
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  height: 5vw;
  top: 1vw;
  border: 25px solid transparent;
  padding: 15px;
  border-image: url(/symbols/usefour.png);
  border-image-slice: 200;
  border-image-repeat: repeat;
  gap: 1px;
}

span{
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  color: rgb(191, 204, 215);
}

.minigrid{
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: rgb(191, 204, 215);
  outline: 1px solid rgb(191, 204, 215);
  color: rgb(191, 204, 215);
}

.minigrid :hover{
  color: blue;
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}

.works{
  position: absolute;
  top: 1rem;
  width: clamp(200px, 25vw, 320px);
  height: auto;
  outline: 1px solid rgb(0, 0, 0);
}

.gridContents{
  position: absolute;
  left: 45vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content{
  position: absolute;
  width: 990px;
  height: auto;
  top: 15vw;
  left: 22%;
}

.worktext{
  grid-column: 1;
  text-align: left;
  width: 1fr;
}

.text{
  position: absolute;
  grid-column: 3;
  top: 35vw;
}

.infogrid{
  position: sticky;
  display: grid;
  grid-column: 3;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: rgb(191, 204, 215);
  outline: 1px solid rgb(191, 204, 215);
  color: rgb(191, 204, 215);
}

.infogrid :hover{
  color: blue;
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}



















  
  







  













