body{
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  font-family: "Stack Sans Headline", sans-serif;
  background-color: aliceblue;
  margin: 1vw;
  padding: 1vw;
  overflow-x: hidden

}

@font-face {
  font-family: 'Wares'; 
  src: url('fonts/hardware-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

img{
  display: inline-block;
  width: 50%;
  height: auto;
  z-index: 100000;
}

img{
  width: 100%;
  max-width: 900px;
  margin: 1vw;
  height: auto;
  display: block;
  max-width: min(90vw, 900px);
}

.minigrid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: black;
  outline: 1px solid rgb(0, 0, 0);
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}

.works{
  position: sticky;
  top: 1rem;
  width: clamp(200px, 25vw, 320px);
  height: auto;
  outline: 1px solid rgb(0, 0, 0);
}

.gridContents{
  position: absolute;
  left: 45vw;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.content{
  position: absolute;
  z-index: -20000;
  top: 15vw;
  left: 25vw;
  justify-content: center;
  align-items: center;
}

.text{
  position: absolute;
  right: 2vw;
  top: 2vw;

}

.infogrid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: black;
  outline: 1px solid rgb(0, 0, 0);
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}






/* .info{
  position: absolute;
  width: 23.1vw;
  height: auto;
  scrollbar-width: none;
  outline: 1px solid rgb(0, 0, 0);
  bottom: 2vw;
}

#infoOne{
  position: absolute;
  z-index: 100000;
  bottom: 4.9vw;
  padding-left: .2vw;
}

#infoOneText{
  position: absolute;
  left: 50vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#infoTwo{
  position: absolute;
  z-index: 100000;
  bottom: 3.4vw;
  padding-left: .2vw;
}

#infoTwoText{
  position: absolute;
  left: 50vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#infoThree{
  position: absolute;
  z-index: 100000;
  bottom: 2vw;
  padding-left: .2vw;
}

#infoThreeText{
  position: absolute;
  left: 50vw;
  top: 4vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

a{
  color: black;
  text-decoration: none;
} */





























  
  







  













