body{
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  background-color: aliceblue;
  color: rgb(139, 171, 200);
  font-family: serif;
  margin: 10px;
  padding: 10px;
  overflow-x: hidden;
  cursor: grab;
}

.container{
  flex-direction: column;
  width: 100%;
  height: auto;
  grid-row: 1;
  padding: 10px;
  left: 5vw;
  font-size: 7vw;
}

.infocontainer{
  position: sticky;
  z-index: 10000000;
  top: 250px;
  margin: 10px;
  margin-top: auto;
  width: 100%;
  height: auto;
  grid-row: 2;
  padding: 10px;
  font-size: 5vw;
}

#selfie{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -200;
}

.grid-item{
  top: 0;
  z-index: -100000000;
  width: 100%;
  height: auto;
}

.grid-item:hover{
  color: blue;
}


img{
  width: 50%;
  height: auto;
  margin: 10px;
}

.text{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  z-index: 2000000000;
  font-size: 2vw;
  text-align: center;
}

.worktext{
  position: sticky;
  top: 0;
  left: 60%;
  font-size: 2vw;
  width: 500px;
  height: auto;
}

.content{
  width: 100%;
  height: 800px;
  overflow: scroll;
}