body{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: aliceblue;
  color: rgb(139, 171, 200);
  font-family: serif;
  margin: 10px;
  padding: 10px;
}

.container{
  flex-direction: column;
  width: 100%;
  height: auto;
  grid-row: 1;
  padding: 10px;
  left: 5vw;
  font-size: 7vw;
}

.container:nth-child(2n){
  text-indent: 40px;
}



.infocontainer{
  position: sticky;
  z-index: 10000000;
  top: 250px;
  margin: 10px;
  margin-top: auto;
  width: 100%;
  height: auto;
  grid-row: 2;
  padding: 10px;
  font-size: 5vw;
}

#selfie{
  position: absolute;
}



img{
  width: 50%;
  height: auto;

}

.text{
  font-size: 2vw;
}

.worktext{
  position: fixed;
  top: 10vw;
  right: 5vw;
  flex-direction: column;
  font-size: 2vw;
  width: 500px;
  height: auto;
}