

body{
    margin: 2vw;
    margin-top: 1vw;
    overflow-x: none;
    font-family: "Stack Sans Headline", sans-serif;
}

img{
  height: 60vw;
  width: auto;
}

p{
  font-size: 1.5vw;
}

.header{
  position: fixed;
  right: 3vw;
  top: 1vw;
  font-size: 2vw;
}

/* ABOUT */

#aboutHover{
  position: fixed;
  font-size: 2vw;
  top: 3vw;
}

#aboutText{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  text-align: center;
  font-size: 3vw;
}

/* CONTACT */

#contactHover{
  position: fixed;
  font-size: 2vw;
  top: 6.5vw;
}

#contactEmail{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 999; 
  font-size: 3vw;
}

/* CV */

.resume{
  position: fixed;
  font-size: 2vw;
  top: 8.5vw;
  text-decoration: none;
  color: black;
}



/* WORK */

#workOne{
  position: fixed;
  font-size: 2vw;
  top: 15vw;
}

#workOneImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workTwo{
  position: fixed;
  font-size: 2vw;
  top: 18vw;
}

#workTwoImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workThree{
  position: fixed;
  font-size: 2vw;
  top: 21vw;
}

#workThreeImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workFour{
  position: fixed;
  font-size: 2vw;
  top: 24vw;
}

#workFourImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workFive{
  position: fixed;
  font-size: 2vw;
  top: 27vw;
}

#workFiveImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workSix{
  position: fixed;
  font-size: 2vw;
  top: 30vw;
}

#workSixImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workSeven{
  position: fixed;
  font-size: 2vw;
  top: 33vw;
}

#workSevenImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}


#posterMisc{
  position: fixed;
  font-size: 2vw;
  top: 36vw;
}

#posterMiscImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workEight{
  position: fixed;
  font-size: 2vw;
  top: 39vw;
}

#workEightImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}





  
  







  













