body{
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: aliceblue;
  margin: 1vw;
  padding: 1vw;
}

@font-face {
  font-family: 'Wares'; 
  src: url('fonts/hardware-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

.container{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: start;
  gap: 1vw;
}

img{
  width: 100%;
  max-width: 900px;
  margin: 1vw;
  height: auto;
  display: block;
  max-width: min(90vw, 900px);
}

.header{
  grid-column: 2;
}

span{
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  color: rgb(191, 204, 215);
}

.minigrid{
  position: sticky;
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: rgb(191, 204, 215);
  outline: 1px solid rgb(191, 204, 215);
  color: rgb(191, 204, 215);
}

.minigrid :hover{
  color: blue;
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}

.works{
  position: absolute;
  top: 1rem;
  width: clamp(200px, 25vw, 320px);
  height: auto;
  outline: 1px solid rgb(0, 0, 0);
}

.gridContents{
  position: absolute;
  left: 45vw;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content{
  position: absolute;
  width: 990px;
  height: auto;
  top: 15vw;
  left: 22%;
}

.worktext{
  position: fixed;
  /* z-index: 100000000; */
  width: 20vw;
  height: auto;
  top: 50%;
  left: 70%;
  transform: translate(-5%, -20%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  position: fixed;
  grid-column: 3;
  width: 35vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

}

.infogrid{
  position: fixed;
  display: grid;
  right: 2vw;
  grid-column: 3;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  background-color: rgb(191, 204, 215);
  outline: 1px solid rgb(191, 204, 215);
  color: rgb(191, 204, 215);
}

.infogrid :hover{
  color: blue;
}

.grid-item{
  background-color: aliceblue;
  padding: .2vw;
}


#me{
  z-index: -1000000;
}



















  
  







  













