

body{
    margin: 2vw;
    margin-top: 1vw;
    overflow-x: hidden;
    font-family: "Stack Sans Headline", sans-serif;
    background-color: black;
}



/* img{
  height: 60vw;
  width: auto;
} */

/* p{
  font-size: 1.5vw;
} */

/* .header{
  position: fixed;
  right: 3vw;
  top: 1vw;
  font-size: 2vw;
} */

/* ABOUT */


#aboutHover{
  position: fixed;
  font-size: 2vw;
  top: 3vw;
}

#aboutText{
  position: fixed; 
  justify-content: center;
  color: white;
  /* transform: translate(-50%, -50%); */
  z-index: 1000; 
  text-align: center;
  font-size: 3vw;
}

/* CONTACT */

#contactHover{
  position: fixed;
  font-size: 2vw;
  top: 6.5vw;
}

#contactEmail{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 999; 
  font-size: 3vw;
}

/* CV */

.resume{
  position: fixed;
  font-size: 2vw;
  top: 8.5vw;
  text-decoration: none;
  color: black;
}

/* work expirimnet */

.line{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 2000px;
  height: 1px;
}

.links{
  display: flex;
  font-size: 5vw;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links:hover{
  color: blue;
}

img{
  display: inline-block;
  width: 20%;
  height: auto;
  margin: 10px;
  object-fit: contain;
}

#cover{
  object-fit: cover;
}

.one{
  display: flex;
  /* justify-content: center; */
  height: 20%;
  width: auto;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.two{
  display: flex;
  /* justify-content: center; */
  height: 20%;
  width: auto;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.three{
  display: flex;
  /* justify-content: center; */
  height: 20%;
  width: auto;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.four{
  display: flex;
  /* justify-content: center; */
  height: 20%;
  width: auto;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.five{
  display: flex;
  flex-direction: row;
  grid-template-rows: repeat(6, auto);
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.182); */
  overflow-y: auto;
  scrollbar-width: none;
  color: white;
  white-space: nowrap;
  font-size: 25px;
  /* border: 2px rgb(73, 33, 15) solid; */
}

@keyframes slide{
  0%{
      transform: translate(0,0);
  }
  100%{
      transform: translate(-100%,0);
  }
}





/* WORK */

/* #workOne{
  position: fixed;
  font-size: 2vw;
  top: 15vw;
}

#workOneImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workTwo{
  position: fixed;
  font-size: 2vw;
  top: 18vw;
}

#workTwoImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}


#workThree{
  position: fixed;
  font-size: 2vw;
  top: 21vw;
}

#workThreeImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}


#workFour{
  position: fixed;
  font-size: 2vw;
  top: 24vw;
}

#workFourImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workFive{
  position: fixed;
  font-size: 2vw;
  top: 27vw;
}

#workFiveImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}








  
  







  

 */











