

body{
    margin: 4vw;
    overflow-x: none;
    font-family: "Stack Sans Headline", sans-serif;
}

.customcursor{
  width: 2vw;
  height: auto;
  border-radius: 50%;
  background-color: brown;
}


.carousel{
  display: grid;
  padding: 10px;
}

.card{
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

img{
  height: 40vw;
  width: auto;
}

p{
  font-size: 1vw;
}

.header{
  position: fixed;
  right: 3vw;
  top: 1vw;
  font-size: 2vw;
}

/* ABOUT */

#aboutHover{
  position: fixed;
  font-size: 2vw;
  top: 3vw;
}

#aboutText{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  text-align: center;
  font-size: 3vw;
}

/* CONTACT */

#contactHover{
  position: fixed;
  font-size: 2vw;
  top: 6.5vw;
}

#contactEmail{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 999; 
  font-size: 3vw;
}

/* WORK */

#workOne{
  position: fixed;
  font-size: 2vw;
  top: 15vw;
}

#workOneImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workTwo{
  position: fixed;
  font-size: 2vw;
  top: 18vw;
}

#workTwoImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workThree{
  position: fixed;
  font-size: 2vw;
  top: 21vw;
}

#workThreeImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workFour{
  position: fixed;
  font-size: 2vw;
  top: 24vw;
}

#workFourImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#workFive{
  position: fixed;
  font-size: 2vw;
  top: 27vw;
}

#workFiveImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}

#posterMisc{
  position: fixed;
  font-size: 2vw;
  top: 30vw;
}

#posterMiscImg{
  position: fixed;
  z-index: -999; 
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  font-size: 3vw;
  overflow: scroll;
}




























/* TEXT */

/* .descriptions{
    position: absolute;
    z-index: -1px;
}

.resume{
    position: fixed;
    right: 2vw;
   top: 2vw;
   text-decoration: none;
   color: crimson;
}

.resume:hover{
    color: blue;
}

.arena{
    position: fixed;
    right: 15vw;
   top: 2vw;
   text-decoration: none;
   color: crimson;
}

.arena:hover{
    color: blue;
}

.dropbtn {
    border: none;
    font-family: "Space Mono", serif;
    color: crimson;
    font-size: 16px;
    background-color: transparent;
  }

  .dropbtn:hover{
    color: blue;
  }

  .dropdown {
    position: fixed;
    top: 2vw;
    right: 8.5vw;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    color: rgb(13, 0, 255);
    font-size: 12px;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: flex;
  }

.dropdown:hover .dropdown-content {display: block;}

.header{
    position: fixed;
    font-family: "Space Mono", serif;
    font-size: 16px;
    color: crimson; 
    top: 2vw;
    left: 2vw;
    background-color: transparent;
    border: none;
}

.header:hover{
    color: blue;
}

.output{
    position: relative;
    display: inline-block;  
} */


  
  







  













