

body{
    margin: 0;
    font-family: "Space Mono", serif;
}



img{
    position: relative;
    padding: .2vw;
    width: 100%;
    height: auto;
}









/* TEXT */

.descriptions{
    position: absolute;
    z-index: -1px;

}



.resume{
    position: fixed;
    right: 2vw;
   top: 2vw;
   text-decoration: none;
   color: crimson;
}

.resume:hover{
    color: blue;
}

.arena{
    position: fixed;
    right: 15vw;
   top: 2vw;
   text-decoration: none;
   color: crimson;
}

.arena:hover{
    color: blue;
}

.dropbtn {
    border: none;
    font-family: "Space Mono", serif;
    color: crimson;
    font-size: 16px;
    background-color: transparent;
  }

  .dropbtn:hover{
    color: blue;
  }

  
  
  .dropdown {
    position: fixed;
    top: 2vw;
    right: 8.5vw;
    display: inline-block;
    
  }

  

  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    color: crimson;
    font-size: 12px;
    z-index: 1;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
  }



.dropdown:hover .dropdown-content {display: block;}

.header{
    position: fixed;
    font-family: "Space Mono", serif;
    font-size: 16px;
    color: crimson; 
    top: 2vw;
    left: 2vw;
    background-color: transparent;
    border: none;
}

.header:hover{
    color: blue;
}

.output{
    position: relative;
    display: inline-block;
    
}


@media (max-width: 768px) {


    img{
        width: 25vw;
        height: auto;
    }

    .header{
        font-size: 14px;
    }

    .arena{
        right: 35vw;
        font-size: 14px;
    }

    .dropdown{
        right: 18vw;
        /* padding: -1vw; */
        top: 1.5vw;
    }

    .dropbtn{

        font-size: 14px;

    }

    .dropdown-content{
        font-size: 10px;
    }

    .resume{
        font-size: 14px;
    }

}
  
  







  













