body{
    font-family: "Space Mono", serif;
}

.favicon{
    position: fixed;
    display: inline-flex;
    justify-content: left;
    align-items: left;
    margin-left: 20px;
    height: 50px;
}


.header{
    position: fixed;
    display: flex;
    font-size: 20px;
    margin: 10px;
    left: 5%;
}

.mothwing{
    display: flex;
    max-height: 30%;
    max-width: 30%;
    margin: 25px;
}

.moth{
    display: flex;
    max-height: 50%;
    max-width: 50%;
    margin: 25px;
}

.plan_moth{
    display: flex;
    max-height: 40%;
    max-width: 40%;
    margin: 25px;
}

.description{
    font-size: 12px;
    margin: 15px;
    position: fixed;
    left: 65%;
    width: 30vw;
    color: grey;
}

.description:hover{
    color: black;
}