body{
    background-color: black;
    color: white;
    font-family: "Stack Sans Headline", sans-serif;
}

img{
    display: flex;
    width: 50%;
    height: auto;
    margin: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}